* {
  margin: 0;
}

.question-section {
  width: 70%;
  margin: 5px auto 0;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
}

.top-question-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 10px;
}

.botton-question-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 10px;
  text-align: left;
}

.button-votes {
  border-radius: 100%;
  border: none;
  background-color: chartreuse;
}